.intro {
text-align: center;
margin-left: 0;
margin-right:0;
margin-top: 0px;
height: 100%;

}
.name{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center; 
}
.pic{
    width: 400px;
    height: 250px;
}

.container{
    margin-top: 20px;
}
.divider{
    margin-left: 82px;
    margin-right:82px;
    color:black;
    height:2px;
    border-width:0;
    background-color: black;
    margin-bottom: 50px;
}
.profile{
    width: 250px;
    height: 200px;
}
.header{
}
.myp{
    margin-top: 40px;
    text-align: center;
    text-decoration: blueviolet;
    color: black;
}
.label{
    font-weight: bold;
    color: black;
    margin: 10px;
}


.warning {
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 75%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.intro{
    background-color: red;
    color:aliceblue;
}


.center{
    margin-top: 140px;
}
